.btnfelx{
    display: flex;
    float: right;
}

.btntime3{
    margin-right: 40px;
}
.sl1{
    width: 400px;
    color: gold;
    border: none;
    background-color: black;
}

.th1{
    color:gold;
}